body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

a{
    text-decoration: none;
}

.menu {
    list-style:none;
    position:fixed;
    top:10px;
    right:30px;
    z-index:10;
    cursor:pointer;
    background:white;
    width:100%;
    margin-top:0px;
    
}

.links {
    float:left;
    padding-top:5px;
    padding-left: 33px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-family:fantasy;
    font-size:20px;
    display:inline;
}

.links:hover {
    font-size:25px;
    text-decoration: underline;
}

#contato {
    background:yellow;
}

.contato h3 {
    display:inline;
}
.profile {
    border-radius: 50%;
    width:300px;
}

#welcome {
    position: absolute;
    bottom: 0;
    
    background: linear-gradient(#070707 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
}

h1 {
    
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;

}

#name {
    font-size: 50px;
    font-family: 'Comforter', cursive;

}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}

#bio {
    font-family: 'Comforter', cursive;
    padding: 50px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.parallax-inner {

    display: table-cell;
    vertical-align: middle;
}
